<!DOCTYPE html>
<html lang="en" ng-app="noUiSliderExamplesApp">
<head>
  <meta charset="UTF-8">
  <title>angularjs-nouislider</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/11.0.3/nouislider.min.css">
</head>
<body ng-controller="examplesController">
<main>
  <h1>angularjs-nouislider examples</h1>

  <article>
    <h2>Slider without ngModel</h2>

    <div no-ui-slider
         slider-options="{{ optionsWithStart }}"
         slider-created="onSliderCreated(api)"></div>

    <angular-jsoneditor ng-model="optionsWithStart" options="jsonEditorOptions"></angular-jsoneditor>
  </article>

  <article>
    <h2>Slider with ngModel</h2>

    <div no-ui-slider
         slider-options="{{ optionsWithoutStart }}"
         ng-model="sliderPositions"></div>

    <angular-jsoneditor ng-model="optionsWithoutStart" options="jsonEditorOptions"></angular-jsoneditor>

    <strong>Model:</strong>
    <pre>{{ sliderPositions | json }}</pre>
  </article>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/11.0.3/nouislider.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.8/angular.min.js"></script>
<script src="../dist/angularjs-nouislider.min.js"></script>
</body>
</html>
